<li>
  <%= gravatar_for user%>
  <%= link_to user.name, user %>

  <% if current_user.admin? %>
    | <%= link_to "delete this shit", delete_path_url(id: user.id), method: :delete %>
  <% end %>
</li>

